
div#navbar(class="navbar" style="display: flex, flex-direction: row, justify-content: space-evenly, width: 50%")
    a(href = "/home") Home
    |
    a(href = "/search") Search
    |
    a(href = "/activity") Activity
    |
    a(href = "/notifications") Notifications
    |
    a(onClick='logout()') Logout
    |
    a(href = "/profile") Profile
    