doctype html
html
  head
    title Login
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
    //css
        
    body 

        h1 Welcome to the T Art Gallery
        h2 Please login to continue

        div.text-center(id="login" style="display: inline-block , text-align: center;")
            h1 Login 
            
            label(for='username') Username
            input(type='text', name='username', id='inputUsername' class="form-control" placeholder="Username" required)

            
            label(for='password') Password
            input(type='password', name='password', id='inputPassword' class="form-control" placeholder="Password" required)

            br
            button.btn.btn-lg.btn-primary(type='submit' id="submit") Login
            br
            br
            h3 Don't have an account?
            a(href="/register") Register
        
        script(src="/login.js")
